<!-- myapp/templates/myapp/pyspark_page.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PySpark Results</title>
</head>
<body>
    <h1>PySpark Results</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Domaine</th>
            </tr>
        </thead>
        <tbody>
            {% for result in results %}
                <tr>
                    <td>{{ result.Nom }}</td>
                    <td>{{ result.DOMAINE }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>